<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.websarva.wings.android.abiityofbaseball">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TopActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectPlayerTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnswerQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DisplaySavedPlayerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6298264304843789~4492140864" />
    </application>

</manifest>